/*No tocar este codigo*/ 
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}
header{
	background-color:#293d3d;
}
b{
	color:white;
	margin-left: 3%;
}
.barra-menu{
	color:white;
	margin-left: 1%;
	position: relative;
}
.logout{
	width: 100%;
	height: 30px;
	background-color: purple;
	color:white;
	margin-top:-50%;
	padding: 1%;
}
.sub-menu{
	list-style-type: none;
}
.sidebar-menu{
	width: 20%;
	height: 1000px;
	background-color: #293d3d;
	padding-top: 3%;
}
.sub-menu{
	color:white;
}
.titulo{
	color:white;
	margin-top: 2%;
	margin-bottom: 10%;
}
.sub-menu{
	margin-bottom: 10%;
}
.white{
	color:white;
}
.iconos{
	margin-left: 20%;
	margin-top: -65%;
	padding-top: 4%;
	padding-left: 2%;
}
.iconos1{
	margin-left:-15px;
	margin-top: -55px;
	padding-top: 5%;
	background-color: #e1eaea;
}
.icon-gray{
	font-size: 3em;
}
.box-purple{
	width: 100%;
	background-color: purple;
	text-align: center;
	margin-top: -5%;
	color:white;
}
.circulo{
	background-color: #1affa3 !important;
}
.box-purple1{
	width: 100%;
	background-color: purple;
	text-align: center;
	color:white;
}
ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background:purple;
    color: #fff;
    display: block;
    width: 80%;
    height: 40px;
    padding: 3% 1%;


    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.box0:hover .box1 {
	border-bottom: 1px solid #ffffff;
}

.box0 p {
	text-align: center;
	font-size: 12px;
}

.box0:hover p {
	color: red;
}
.box0:hover {
	background: #ffffff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}


